@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

@font-face{
    font-family: shapiro;
    src: url('/font/OGJ\ Type\ Design\ -\ Shapiro\ 95\ Super\ Wide.ttf') format('truetype');;
}

main{
    background-image: url("/images/10\ -\ BACKGROUND.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section{
    margin: 4rem 0;
}

.nav_list{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    font-size: .8rem;
    font-weight: 300;
    padding: 3.5rem 1.2rem 2.5rem 0;
    margin: auto 7rem 0 auto;
}

.nav_link{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.active_link{
    background-color: #238006;
    padding: .8rem 1.2rem;
}


.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo,
.icon{
    width: 100%;
    object-fit: contain;
}

.head_list{
    list-style: none;
    font-family: shapiro, sans-serif;
    text-align: center;
}

.head_item{
    text-transform: uppercase;
}

.head_btn-span{
    width: 1.5rem;
    height: 1.5rem;

}

.head_btn{
    background-color: #ee4746;
    text-decoration: none;
    padding: .5rem .7rem;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 1.5rem auto 0;
    font-size: .9rem;
    font-weight: 400;
    width: 70%;
    justify-content: space-evenly;
}

.head_timer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 2.5rem 1.7rem;
    background-color: rgba(0, 0, 0, 0.616);
}

.head_timer-days,
.head_timer-sec,
.head_timer-hours,
.head_timer-minute{
    font-family: shapiro;
    font-size: 1.2rem;
    text-align: center;
}


.head_timer  p {
    font-size: 4.5rem;
    margin: 0 0 -1.2rem;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_text-box{
    width: 30%;
}

.about_text-head{
    position: relative;
}

.green_lines{
    height: 6.5rem;
    width: 8.5rem;
    position: absolute;
    bottom: -.5rem;
    left: -2.5rem;
}

.about_text-header{
    font-family: shapiro;
    font-size: 2.5rem;
    z-index: 2;
    position: relative;
}

.about_text-p{
    padding: 1.5rem 0 0;
}

.about_logo-box{
    width: 45%;
}

.about_logo{
    width: 100%;
    object-fit: contain;
}

.event_header,
.faq_header,
.shop_header{
    text-align: center;
    font-family: shapiro;
    font-size: 2.5rem;
}

.shop_header{
    margin: 0 0 2rem 0;
}

.event_header-text{
    width:40%;
    text-align:center;
    margin: .5rem auto 1rem;
    font-weight: 300;
    font-size: .8rem;
}

.event_days{
    padding: .5rem 3.5rem;
    margin: 2rem auto;
    width: 80%;
}
.event_list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.event_link{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: .5rem 2.7rem;
    background-color: #ee4746;
    border: 1px solid #fff;
}
.event_details-header{
    font-size: 1rem;
    padding: .5rem 2rem;
    background-color: #fff;
    color: #ee4746;
    margin: 0 0 1rem;
    text-transform: uppercase;
}
.event_details-box{
    width: 80%;
    margin: 0 auto;
}

.event_details-line{
    background-color: grey;
    height: .2rem;
    margin: 1rem 0;
}

.event_details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event_details-date{
    background-color: #ee4746;
    color: #fff;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.event_details-day{
    font-weight: 700;
    font-size: 1.1rem;
}

.event_details-month{
    font-weight: 300;
    margin: -.4rem 0 0;
    font-size: .6rem;
}

.event_details-flyer{
    width: 14rem;
    height: 14rem;
    background-color: cornflowerblue;
}

.event_details-utility{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100%;
}

.flyer{
    width: 100%;
    object-fit: cover;
}

.event_details-theme{
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem;
}

.theme_header{
    font-size: 1rem;
    font-family: shapiro;
}
.theme_text{
    font-weight: 300;
    width: 90%;
    font-size: .8rem;
    padding: .5rem 0 0;
}

.location_header{
    font-size: 1.2rem;
    font-weight: 400;
}

.location_text{
    font-weight: 300;
    width: 80%;
    font-size: .8rem;
    padding: .5rem 0 0;
}

.details_btn-span{
    width: 1.5rem;
    height: 1.5rem;
    padding: 0 .3rem 0 0;

}

.details_btn{
    background-color: #238006;
    text-decoration: none;
    padding: .5rem .9rem;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: .9rem;
    font-weight: 400;
}

.faq_details{
    height: 30rem;
}

.shop{
    text-align: center;
}

.shop_product{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 2rem auto;
}

.shop_product-tees{
    width: 24%;
}

.shop_product-image{
    width: 100%;
    object-fit: contain;
}

.shop_link{
    background-color: #ee4746;
    padding: .8rem 1.2rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.sponsors{
    text-align: center;
    padding: 3rem 0 0;
}

.sponsors_head{
    position: relative;
}

.sponsors_apple{
    position: absolute;
    top: -5rem;
    left: 13rem;
}

.sponsors_header{
    font-family: shapiro;
    font-size: 2.5rem;
}

.sponsors_header-text{
    width: 38%;
    text-align:center;
    margin: .5rem auto 1rem;
    font-weight: 300;
    font-size: .8rem;
}

.sponsors_logo{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 4rem auto 0;
}

.sponsors_logo-image{
    width: 100%;
    object-fit: contain;
}

/*contact us section css  */

.contact{
    
}
.contact_header{
    font-family: shapiro;
    font-size: 2.5rem;
    text-align: center;
}

.contact_header-text{
    font-weight: 300;
    font-size: .8rem;
    text-align: center;
}

.contact_header-span{
    display: block;
}

.form_box{
    background-color: rgb(243, 240, 240);
    margin: 2rem auto;
    width: 60%;
    height: 30rem;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}
.form_image-box{
    width: 40%;
}

.form_image{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.form_main{
    flex: 1;
}
.form_header{
    background-color: #fff;
    color: #000;
    font-weight: 600;
    box-shadow: 2px 2px 3px #ccc;
    padding: 2rem 0 2rem 1rem;
}

.form_data{
    display: flex;
}

.form_data label{
    width: 50%;
}
.form_main input{
    background-color: rgb(243, 240, 240);
    border: none;
    border-bottom: 1px solid rgb(185, 182, 182);
    padding: 1.1rem 0 1.1rem 1rem;
    width: 100%;
}

#fullname{
    border-right: 1px solid rgb(185, 182, 182);
}

.form_data input::placeholder,
.text_area::placeholder{
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: .7rem;
}
 #text_area{
    padding: 1.1rem 0 15.1rem 1rem;
}

input:focus,
.text_area:focus{
    outline: none;
}

.form_btn{
    background-color: #238006;
    color: #fff;
    border-radius: 5px;
    margin: 1rem 1rem 0 auto;
    border: none;
    padding: .4rem 1.9rem;
    font-size: .7rem;
    display: block;
}

.footer{
    background-color: #238006;
    color: #fff;
    display: flex;
    padding: 1.5rem 0;
}

.socials{
    width: 25%;
    padding: 0 0 0 4.5rem;
}
.socials_text{
    font-family: shapiro;
}

.socials_link{
    text-decoration: none;
    color: #fff;
}
.copyright{
    width: 50%;
    text-align: center;
}

.copyright_text{
    font-family: shapiro;
    text-align: center;
    font-size: .8rem;
}

.special_span{
    display: block;
}

.event_details-btn p{
    font-size: .8rem;
    background-color: #238006;
    padding: .2rem .5rem;
}

@media only screen and (max-width: 768px) {

    .head_timer{
        padding: 1.5rem 1.2rem;
        margin: 0 30px 0 20px;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
    }

    .head_timer-days,
    .head_timer-hours,
    .head_timer-minute,
    .head_timer-sec{
        font-size: .8rem;
    }

    .head_timer p{
        font-size: 4rem;
    }

    .about_text-box{
        width: 45%;
    }

    .about_text-header{
        font-size: 2rem;
    }
    
    .about_text-p{
        padding: .8rem 0 0;
    }
    
    .event_header-text{
        width: 70%;
    }

    .event_days{
        padding: 0;
        width: 90%;
    }

    .event_details-box{
        width: 90%;
    }

    .event_details-flyer{
        height: 10rem;
        width: 10rem;
    }
    .event_details-utility{
        width: 40%;
    }
    .theme_text{
        width: 90%;
    }
    .location_text{
        width: 90%;
    }

    .sponsors_header-text{
        width: 80%;
    }

    .sponsors_apple{
        height: 6rem;
        width: 6rem;
        top: -2rem;
        left: 2rem;
    }
    .sponsors_logo{
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    main{
        background-image: url("/images/404\ MOBILE\ -\ BACKGROUND\ IMAGE\ \(FULL\).jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .nav_list{
        width: 90%;
        font-size: .7rem;
        font-weight: 300;
        padding: 3rem 0 2rem 0;
        margin: 0 auto;
    }
    
    .active_link{
        padding: .6rem 1rem;
    }

    .head{
        flex-direction: column;
    }
 
    .head_timer{
        padding: 1.5rem 1rem;
        margin: 1.5rem 0 ;
    }
    
    .head_timer-days,
    .head_timer-sec,
    .head_timer-hours,
    .head_timer-minute{
        font-size: .8rem;
    }
    
    
    .head_timer  p {
        font-size: 3.5rem;
        margin: 0 0 -.8rem;
    }

    .about{
        flex-direction: column;
    }

    .about_text-header{
        font-size: 2rem;
    }

    .about_text-box{
        width: 80%;
    }
    
    .about_logo-box{
        width: 90%;
    }
    
    .event_header{
        font-size: 2rem;
        padding: 0;
    }

    .event_header-text{
        display: none;
    }
    .event_details-box{
        width: 90%;
    }

    .event_days {
        padding: .5rem 1rem;
        margin: .8rem auto;
        width: 90%;
    }
    .event_item{
        margin: .5rem 0.2rem;
    }
    .event_link{
        font-size: .7rem;
        padding: .4rem .8rem;
    }
    .event_details-date{
        height: 1.5rem;
        width: 1.5rem;
    }

    .event_details-day{
        font-size: .7rem;
    }
    
    .event_details-month{
        font-size: .3rem;
        margin: -.2rem 0 0;
    }

    .event_details-location{
        width: 100%;
    }
    .event_details-flyer{
        height: 6rem;
        width: 6rem;
    }
    .event_details-utility{
        width: 40%;
    }
    .theme_header{
        font-size: .35rem;
    }
    .location_header{
        font-size: .4rem;
    }
    .theme_text,
    .location_text{
        font-size: .4rem;
        width: 100%;
        padding: .2rem 0 0;
    }
    .event_details-theme{
        margin:  0 0 .5rem;
    }

    .details_btn-span{
        width: .5rem;
        height: .5rem;
    
    }
    
    .details_btn{
        padding: .2rem .4rem;
        font-size: .4rem;
    }
    
    /* media query for faq section */
    .faq_header{
        font-size: 2rem;;
    }

    /* media query for shop section */
    .shop_header{
        font-size: 2rem;
    }
    .shop_product{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .shop_product-tees{
        width: 100%;
    }

    /* styling for event sponsors */
    .sponsors_header{
        font-size: 1rem;
    }

    .sponsors_header-text{
        width: 50%;
        margin: .5rem auto 1rem;
        font-size: .5rem;
    }

    .sponsors_apple{
        top: -1.5rem;
        left: 2.3rem;
        height: 4rem;
        width: 4rem;
    }    
    
     .sponsors_logo{
        margin: 1rem auto 0;
        width: 90%;
    }
    
    .sponsors_logo-box{
        margin: 0 .9rem;
    }
    
    .contact_header{
        font-size: 2rem;
    }
    
    .contact_header-text{
        font-size: .6rem;
    }

    .form_box{
        width: 80%;
        height: auto;
    }

    .form_image-box{
        width: 40%;
    }

    .form_image{
        width: 100%;
        object-fit: cover;
        height: 100%;
    }

    .form_header{
        padding: .7rem 0 .7rem .5rem;
        font-size: .7rem;
    }
    
    .form_data{
        flex-direction: column;
    }
    
    .form_data label{
        width: 100%;
    }
    .form_data input{
        padding: .7rem 0 .7rem .5rem;
    }

    .form_main input::placeholder{
        font-size: .5rem;
    }

    #text_area{
        padding: .7rem 0 3.1rem .5rem;
    }
  
    .form_btn{
        margin: .4rem 1rem 0 auto;
        padding: .4rem 1.5rem;
        font-size: .5rem;
    }

    .socials{
        width: 40%;
        padding: 0 0 0 .8rem;
        font-size: .6rem;
    }

    .copyright{
        width: 60%;
        padding: 0 .8rem 0 0;
    }

    .copyright_text{
        font-size: .5rem;
    }

    .event_details-btn p{
        font-size: .4rem;
    }
    
  }

  @media only screen and (max-width: 400px) {

    .contact_header,
    .event_header,
    .shop_header,
    .faq_header,
    .about_text-header{
        font-size: 1.6rem;
    }
    .sponsors_apple{
        top: -1rem;
        left: 1.7rem;
        height: 3rem;
        width: 3rem;
    } 

      .text_area{
          height: auto;
      }

      .form_btn{
          margin: .5rem 1rem .4rem auto;
      }
  }

  @media only screen and (max-width: 320px) {
    .nav_list{
        font-size: .5rem;
    }
    .sponsors_apple{
        top: -.8rem;
        left: .765em;
        height: 2.5rem;
        width: 2.5rem;
    } 
    .event_details-date{
        height: 1rem;
        width: 1rem;
    }

    .event_details-day{
        font-size: .5rem;
    }
    
    .event_details-month{
        font-size: .2rem;
        margin: -.1rem 0 0;
    }
    .event_details-flyer{
        height: 5rem;
        width: 5rem;
    }

    .details_btn-span{
        width: .4rem;
        height: .4rem;
    
    }
    
    .details_btn{
        padding: .2rem .35rem;
        font-size: .3rem;
    }

    .event_details-btn p{
        font-size: .35rem;
        padding: .1rem .25rem;
    }
}